{% layout "../layout/main.liquid" %}

{% block head %}
    <title>{{ home.seo.title }}</title>
{% endblock %}

{% block mainContent %}
    <div class="page-con">
        <div class="page-con__wrapper">
            <section class="page-con__main">
   
            </section>
            <footer class="page-con__footer">
                <p>version {{ options.version }}</p>
            </footer>
        </div>
    </div>    
{% endblock %}
