<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% asset "/css/main.css" %} /> 
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav class="nav-root">
        <a href="/" class="highlight">
            SSG
        </a>
        <ul>
            {% for item in options.menu %}
                <li>
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main>{% block mainContent %} {% endblock %}</main>
  </body>
</html>
